.UsersTable {
    width: 100%;
    color: var(--text-color);
    padding: 5px;
    border: none!important;
}

.UsersTable th:last-child {
    width: 80%;
    border: none!important;
}

.UsersTable tr {
    line-height: 10%;
}

.UsersTable th {
    line-height: 50%;
    text-align: center;
}
