.PlayerTopTable {
  width: 100%;
  color: var(--text-color);
}

.PlayerTopTable th {
  line-height: 50%;
  text-align: center;
  border-color: var(--subtitle-color);
  color: var(--subtitle-color);
  padding: 15px;
  border: solid 1px var(--subtitle-color);
}

.PlayerTopTable td {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: solid 1px var(--subtitle-color);
}

.PlayerTopTable th {
  border-top: solid 2px var(--subtitle-color);
}

.PlayerTopTable tr:last-child td {
  border-bottom: solid 2px var(--subtitle-color);
}

.PlayerTopTable td:first-child {
  border-left: solid 2px var(--subtitle-color);
  max-width: 0;
  overflow: hidden;
  text-overflow: '';
  white-space: nowrap;
}

.PlayerTopTable th:first-child {
  border-left: solid 2px var(--subtitle-color);
}

.PlayerTopTable th:last-child {
  border-right: solid 2px var(--subtitle-color);
}

.PlayerTopTable td:last-child {
  max-width: 100%;
  border-right: solid 2px var(--subtitle-color);
  word-break: break-word;
}

.PlayerTopTable th:last-child {
  width: 70%;
}

.PlayerTopTable th:first-child {
  border-top-left-radius: 10px;
}

.PlayerTopTable th:last-child {
  border-top-right-radius: 10px;
}

.PlayerTopTable tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.PlayerTopTable tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
