:root {
    --subtitle-color: rgba(22, 49, 114, 1);
    --title-color: rgba(18, 37, 81, 1);
    --text-color: rgba(30, 86, 160, 1);
    --background-color: rgba(214, 228, 240, 1);
    --headbox-color: rgba(30, 86, 160, 0.6);
    --box-color: rgba(30, 86, 160, 0.2);
}

body {
    margin: 10px;
    background-color: var(--background-color);
}

.BoxTitle { /* Title of players and action boxes */
    text-align: center;
    font-size: 1.5vw;
    color: var(--subtitle-color);
    padding-bottom: 10px;
}

.App {
    font-size: 1vw;
    font-family: "Komikax";
}

.Grid {
    height: 97vh;
    width: 98vw;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 10% 35% 55%;
}

.HeadBox {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: var(--headbox-color);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    column-gap: 10px;
    padding-right: 10px;
}

.Title {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    line-height: 100%;
    font-size: 4vw;
    color: var(--title-color);
    font-weight: bolder;
}

.PlayersBox {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border-style: solid;
    border-color: var(--title-color);
    border-radius: 10px;
    padding: 15px;
    background-color: var(--box-color);
    overflow-x: hidden;
    overflow-y: scroll;
}

.UserActionBox {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    color: var(--text-color);
    border-style: solid;
    border-color: var(--title-color);
    border-radius: 10px;
    padding: 15px;
    background-color: var(--box-color);
    overflow-x: hidden;
    overflow-y: scroll;
}

.MiddleBox {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
}
