.ShowCurrentTheme {
  grid-row-start: 2;
  grid-column: 1 / span 4;
  margin-top: auto;
  padding-top: 15px;
}

.CurrentTheme {
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.CurrentTheme td,
.CurrentTheme th {
  border: solid 1px var(--subtitle-color);
  text-align: center;
  word-break: break-word;
  padding-right: 10px;
  padding-left: 10px;
}

.CurrentTheme th {
  border-top: solid 2px var(--subtitle-color);
  color: var(--title-color);
}

.CurrentTheme tr:last-child td {
  color: var(--text-color);
  border-bottom: solid 2px var(--subtitle-color);
}

.CurrentTheme td:first-child,
.CurrentTheme th:first-child {
  border-left: solid 2px var(--subtitle-color);
}

.CurrentTheme td:last-child,
.CurrentTheme th:last-child {
  border-right: solid 2px var(--subtitle-color);
}

.CurrentTheme th:first-child {
  border-top-left-radius: 10px;
}

.CurrentTheme th:last-child {
  border-top-right-radius: 10px;
}

.CurrentTheme tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.CurrentTheme tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
