.CurrentUserNumber {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.CurrentTheme {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    border-color: black;
}
